.DS_Store
.AppleDouble
.LSOverride

.VolumeIcon.icns

.*.s[a-v][a-z]

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints/

venv/
ENV/
env/
env.bak/
venv.bak/
.venv/

.python-version

__pypackages__/
Pipfile.lock
poetry.lock

pyflow.lock
.cache/pdm/

.env
.venv.env

celerybeat-schedule
celerybeat.pid

docs/_build/

target/

.spyderproject

.ropeproject


**/taurus.db

.mypy_cache/
.dmypy.json
.dmypy/
.pyre/
.pytype/
.ruff_cache/

.cursorignore
.cursorindexingignore


*.log


build/
dist/
*.egg-info/
.eggs/
*.eggs/
cython_debug/


.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries/
.idea/**/shelf/
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries/
.idea/**/mongoSettings.xml

*.iws
*.iml

out/


.vscode/

.classpath
.project
.settings/

*.swp
*.swo

*.pem
*.key
*.crt
